<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        
    </head>

    <body>

        {% block body %}
            {% for i in 1..10 %}
                 <div> {{ 'titulo '|upper }}{{ i }}</div>
            {% endfor %}

            {% if variable == "hola" %}
                <div> Variable correcta </div>
            {% endif %}
        
        {% endblock %}


    </body>


</html>